<link
  rel="stylesheet"
  href="<%=locals.assetPath('allProjects_styles.css', 'css')%>"
/>

<div class="overlay"></div>
<main>
  <h1>All Projects</h1>
  <ul>
    <% if (locals.allProjects.length === 0) {%>
    <h2 class="no-projects">No Projects Found...</h2>
    <% } %> <%locals.allProjects.forEach((project) => {%>

    <li>
      <div class="project-heading">
        <h2><%=project.title%></h2>
        <span class="status-indicator"></span>
        <p>
          <span id="issues-count-<%=project._id%>"
            ><%=project.issues.length%></span
          >
          Issues
        </p>
      </div>
      <p>-By <%=project.author%></p>
      <p><%=project.desc%></p>
      <div class="action-btns">
        <a href="/projects/<%=project._id%>">Show Details</a>
        <button class="raise-issue" id="<%=project._id%>">Raise Issue</button>
      </div>
    </li>

    <%})%>
  </ul>
</main>

<%- include('./partials/_createIssue'); %>

<script src="<%=locals.assetPath('AllProjects.js', 'scripts')%>"></script>
