<link rel="stylesheet" href="/css/home_styles.css" />
<div class="overlay"></div>
<main>
  <button class="add-new-project">
    <i class="fa-solid fa-plus"></i>
  </button>

  <div class="projects-container">
    <h1>Latest Projects</h1>
    <ul>
      <%locals.allProjects.forEach((project) => {%>
      <a href="/projects/<%=project._id%>">
        <li>
          <div class="project-heading">
            <h2><%=project.title%></h2>
            <span class="status-indicator"></span>
            <p><%=project.issues.length%> Issues</p>
          </div>
          <p>-By <%=project.author%></p>
          <p><%=project.desc%></p>
        </li>
      </a>

      <%})%>
    </ul>
  </div>
</main>

<%- include('./partials/_addProject'); %>

<script src="scripts/Home.js"></script>
